.logo{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 50px;
}

.bgimg{
    background-image: url(./headimg.png);
    background-size: cover;
    background-position: center center;
}

.location-list{
    position: relative;
}

.location-list > ul{
    position: absolute;
    z-index: 1;
}

.location-list > ul li:hover{
    background-color: rgb(228, 228, 245);
    cursor: pointer;
}